body{
  font-size: 25px;
  margin: 0;
}
.justify{
  text-align: justify;
}
.name-color{
  color: yellowgreen
}
section{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
  width: 50%;
  padding-left: 5%;
}
.half-width img{
  width: 130%;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(yellowgreen, green);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 10px;
}
.top-banner{
  background-image: url(left-top-banner.png);
  background-repeat: no-repeat;
  background-size: 100px;
}
.half-width-2nd{
  width: 50%;
}
.half-width-2nd img{
  width: 120%;
}
#padding{
  padding-left: 15%;
}